.title_box {
  border: 2px solid #3498db;
  border-radius: 8px;
  display: inline-block;
  padding: 12px;
  position: relative;
  margin: 10px 10px 30px 10px;
  background-color: #f0f8ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title_box::after {
  position: absolute;
  right: 10%;
  bottom: -40%;
  color: #3498db;
  font-weight: 500;
  font-size: 18px;
}

.title_box::before {
  position: absolute;
  display: block;
  right: 20%;
  bottom: -10%;
  background-color: #3498db;
  width: 50px;
  height: 2px;
  transform: rotate(30deg);
}

.title {
  font-size: 36px;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: #2c3e50;
}

.paragraph {
  font-size: 22px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #34495e;
  margin-top: 8px;
}
